# WalletConnect Project ID
PUBLIC_WALLET_CONNECT_PROJECT_ID=your_project_id_here

# Backend API URL
PUBLIC_API_URL=http://localhost:3001

# Contract addresses (values for amoy)
PUBLIC_BADGE_REGISTRY_ADDRESS=0x94f5F12BE60a338D263882a1A49E81ca8A0c30F4
PUBLIC_EAS_CONTRACT_ADDRESS=0xb101275a60d8bfb14529C421899aD7CA1Ae5B5Fc
# ERC20 activity token (TGA)
PUBLIC_ACTIVITY_TOKEN_ADDRESS=0x4649490B118389d0Be8F48b8953eFb235d8CB545
# EAS resolver used for attestation reads
PUBLIC_ATTESTATION_RESOLVER_ADDRESS=0x8B481fB56b133b590348B2B3B1D3Ae2fce0D4324
PUBLIC_SCHEMA_ID=0xbcd7561083784f9b5a1c2b3ddb7aa9db263d43c58f7374cfa4875646824a47de
