---
import Layout from "@/layouts/Layout.astro";
import "@rainbow-me/rainbowkit/styles.css";
const { address } = Astro.params;
export const prerender = false;
---

<Layout title="Profile - The Guild Genesis">
  <div id="profile-root" data-address={address}></div>
</Layout>

<script>
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";
  import { ProfilePageWrapper } from "@/components/profiles/profile-page/ProfilePageWrapper";

  const rootElement = document.getElementById("profile-root");
  const address = rootElement?.getAttribute("data-address");

  if (rootElement && address) {
    createRoot(rootElement).render(
      createElement(ProfilePageWrapper, { address })
    );
  }
</script>