# Environment variables for TheGuild smart contracts

# CREATE2 salt used for deterministic deployments
# Accepts uint value; example values: 1, 123456, etc.
CREATE2_SALT=1

# EAS addresses for networks not hardcoded in the deploy script.
# Generic fallback for any other network (used if chain isn't matched)
EAS_ADDRESS=

# RPC URLS
AMOY_RPC_URL=https://polygon-amoy.drpc.org
BASE_SEPOLIA_URL=https://base-sepolia.therpc.io

# ETHERSCAN KEY
ETHERSCAN_API_KEY=

# For deployment
PRIVATE_KEY=