---
import Layout from "@/layouts/Layout.astro";
import BadgesPage from "@/components/pages/BadgesPage";
---

<Layout title="Badges - The Guild Genesis">
  <div class="min-h-screen bg-gray-50">
    <BadgesPage client:only="react" />
  </div>
</Layout>


