---
import Layout from "../layouts/Layout.astro";
import GettingStartedPage from "@/components/pages/GettingStartedPage";
import { AppWrapper } from "@/components/AppWrapper";
---

<Layout title="Getting Started - The Guild Genesis">
  <div class="min-h-screen bg-gray-50">
    <AppWrapper client:only="react">
      <GettingStartedPage />
    </AppWrapper>
  </div>
  
</Layout>


