---
import { AppWrapper } from '@/components/AppWrapper';
import Layout from '../layouts/Layout.astro';
import HomePage from '@/components/pages/HomePage';
---

<Layout title="The Guild Genesis">
  <div class="min-h-screen bg-gray-50">
    <AppWrapper client:only="react">
      <HomePage/>
    </AppWrapper>
  </div>
</Layout>