---
import { Web3ProviderAndApp } from '../components/Web3ProviderAndApp';
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Guild Genesis">
  <div class="min-h-screen bg-gray-50">
    <Web3ProviderAndApp client:only="react"/>
  </div>
</Layout>