---
import Layout from "@/layouts/Layout.astro";
import ProfilesPage from "@/components/pages/ProfilesPage";
---

<Layout title="Badges - The Guild Genesis">
  <div class="min-h-screen bg-gray-50">
    <ProfilesPage client:only="react" />
  </div>
</Layout>


